schemas/subschemas/mov-op-fin/ideDeclarado.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_2_1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_2_1">
  <xs:element name="ideDeclarado">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpNI">
          <xs:annotation>
            <xs:documentation>Tipo de NI</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tpDeclarado" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Tipo para fins de intercâmbio de informações</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NIDeclarado">
          <xs:annotation>
            <xs:documentation>NI</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NIF" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Número de Identificação Fiscal no Exterior</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NumeroNIF">
                <xs:annotation>
                  <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PaisEmissaoNIF">
                <xs:annotation>
                  <xs:documentation>País de emissão do Número de Identificação Fiscal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tpNIF" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Tipo do Número de Identificação Fiscal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NomeDeclarado">
          <xs:annotation>
            <xs:documentation>Nome</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tpNomeDeclarado" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipo do Nome</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NomeOutros" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Demais nomes do declarado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NomePF" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nome de Pessoa Física</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpNome" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Tipo do nome</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PrecTitulo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informação que precede ao título do nome (ex: “vossa excelência”, “espólio de”)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Titulo" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Título do nome (ex: sr., sra.)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PrimeiroNome">
                      <xs:annotation>
                        <xs:documentation>Informação do primeiro nome</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo do primeiro nome (ex: nome próprio, nome de batismo)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Primeiro nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MeioNome" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Informação do nome do meio</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo do nome do meio (ex: nome de solteiro, nome de família)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Nome do meio</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PrefixoNome" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informação de prefixo associado a alguma parte do nome (ex: “de”, “da”, “dos”)</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Referência à parte do nome associada ao prefixo (ex: primeiro, meio, último nome)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Prefixo associado a alguma parte do nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UltimoNome">
                      <xs:annotation>
                        <xs:documentation>Informação do último nome</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo do último nome (ex: sobrenome, nome de família)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Último nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IdGeracao" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Parte do nome indicativa de geração (ex: junior, neto, III)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Sufixo" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Siglas credenciais do nome (ex: PhD, VQ, QC)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="GenSufixo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Indicativo associado ao nome (ex: “falecido”, “aposentado”)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NomePJ" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nome de Pessoa Jurídica</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpNome" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Tipo do Nome</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Nome">
                      <xs:annotation>
                        <xs:documentation>Nome (cadeia única de caracteres) </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataNasc" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Data de nascimento Formato: AAAA-MM-DD</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:date"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="InfoNascimento" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Demais informações de nascimento</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Municipio" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Município brasileiro (ou cidade no exterior) do local do nascimento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Bairro" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Bairro (ou alguma outra subdivisão da cidade) do local do nascimento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PaisNasc" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Informação do país de nascimento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Pais" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>País de nascimento do declarado, conforme tabela de países</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AntigoNomePais" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>País de nascimento (por extenso), no caso de país extinto</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EnderecoLivre" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Endereço principal do declarado</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tpEndereco" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PaisEndereco">
          <xs:annotation>
            <xs:documentation>País do endereço principal do declarado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EnderecoOutros" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Demais endereços do declarado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tpEndereco" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EnderecoLivre" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EnderecoEstrutura" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Endereço na forma estruturada</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EnderecoLivre" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Endereco" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Dados do endereço na forma estruturada</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Logradouro" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Numero" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Complemento" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Andar" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Bairro" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="CaixaPostal" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CEP">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Municipio">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UF">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Pais">
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paisResid" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>País de residência do declarado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaisNacionalidade" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>País de nacionalidade do declarado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Proprietarios" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Informações dos Proprietários</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tpNI">
                <xs:annotation>
                  <xs:documentation>Tipo de NI</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NIProprietario">
                <xs:annotation>
                  <xs:documentation>Número de Identificação (NI)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tpProprietario" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Tipo de Proprietário</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NIF" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NumeroNIF">
                      <xs:annotation>
                        <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PaisEmissaoNIF">
                      <xs:annotation>
                        <xs:documentation>País de emissão do Número de Identificação Fiscal</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Nome">
                <xs:annotation>
                  <xs:documentation>Nome</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tpNome" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Tipo do nome</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NomeOutros" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Outros nomes do proprietário</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NomePF">
                      <xs:annotation>
                        <xs:documentation>Outro nome - Pessoa Física</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpNome" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo do nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PrecTitulo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Título anterior</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Titulo" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Título</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PrimeiroNome">
                            <xs:annotation>
                              <xs:documentation>Primeiro nome</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tipo" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Tipo</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Nome">
                                  <xs:annotation>
                                    <xs:documentation>Nome</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="MeioNome" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Nome do meio</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tipo" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Tipo</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Nome">
                                  <xs:annotation>
                                    <xs:documentation>Nome</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PrefixoNome" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Prefixo do nome</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tipo" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Tipo</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Nome">
                                  <xs:annotation>
                                    <xs:documentation>Nome</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="UltimoNome">
                            <xs:annotation>
                              <xs:documentation>Último nome</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tipo" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Tipo</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Nome">
                                  <xs:annotation>
                                    <xs:documentation>Nome</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="IdGeracao" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Identificador de geração</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Sufixo" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Sufixo</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="GenSufixo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Sufixo geral</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EnderecoLivre">
                <xs:annotation>
                  <xs:documentation>Endereço na forma de texto livre</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tpEndereco" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Tipo do endereço</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PaisEndereco">
                <xs:annotation>
                  <xs:documentation>País do endereço do proprietário</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Pais">
                      <xs:annotation>
                        <xs:documentation>País</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EnderecoOutros" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Demais endereços</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpEndereco" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="EnderecoLivre" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="EnderecoEstrutura" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Outro endereço na forma estruturada</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EnderecoLivre" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Endereco" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Dados do endereço</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Logradouro" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Numero" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Complemento" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Andar" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Bairro" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CaixaPostal" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CEP">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Municipio">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="UF">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Pais">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paisResid" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>País de residência</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Pais">
                      <xs:annotation>
                        <xs:documentation>País</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PaisNacionalidade" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>País de nacionalidade</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Pais">
                      <xs:annotation>
                        <xs:documentation>País</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataNasc" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Data de nascimento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="InfoNascimento" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Demais informações de nascimento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Municipio" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Município</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Bairro" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Bairro</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PaisNasc" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>País de nascimento</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pais" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>País</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="AntigoNomePais" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Antigo nome do país</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reportavel" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Identificação do(s) país(es) para o(s) qual(is) o proprietário deve ser reportado</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Pais">
                      <xs:annotation>
                        <xs:documentation>País reportável</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
