schemas/subschemas/mov-op-fin/Proprietarios.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_2_1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_2_1">
  <xs:element name="Proprietarios">
    <xs:annotation>
      <xs:documentation>Informações dos Proprietários</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpNI">
          <xs:annotation>
            <xs:documentation>Tipo de NI</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NIProprietario">
          <xs:annotation>
            <xs:documentation>Número de Identificação (NI)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tpProprietario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipo de Proprietário</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NIF" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Número de Identificação Fiscal</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NumeroNIF">
                <xs:annotation>
                  <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PaisEmissaoNIF">
                <xs:annotation>
                  <xs:documentation>País de emissão do Número de Identificação Fiscal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Nome">
          <xs:annotation>
            <xs:documentation>Nome</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tpNome" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipo do nome</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NomeOutros" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Outros nomes do proprietário</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NomePF">
                <xs:annotation>
                  <xs:documentation>Outro nome - Pessoa Física</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpNome" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Tipo do nome</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PrecTitulo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Título anterior</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Titulo" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Título</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PrimeiroNome">
                      <xs:annotation>
                        <xs:documentation>Primeiro nome</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MeioNome" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Nome do meio</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PrefixoNome" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Prefixo do nome</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UltimoNome">
                      <xs:annotation>
                        <xs:documentation>Último nome</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tipo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Tipo</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IdGeracao" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Identificador de geração</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Sufixo" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Sufixo</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="GenSufixo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Sufixo geral</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EnderecoLivre">
          <xs:annotation>
            <xs:documentation>Endereço na forma de texto livre</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tpEndereco" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipo do endereço</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PaisEndereco">
          <xs:annotation>
            <xs:documentation>País do endereço do proprietário</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EnderecoOutros" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Demais endereços</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tpEndereco" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EnderecoLivre" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EnderecoEstrutura" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Outro endereço na forma estruturada</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EnderecoLivre" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Endereco" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Dados do endereço</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Logradouro" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Numero" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Complemento" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Andar" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Bairro" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="CaixaPostal" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CEP">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Municipio">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UF">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Pais">
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paisResid" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>País de residência</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaisNacionalidade" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>País de nacionalidade</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataNasc" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Data de nascimento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:date"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="InfoNascimento" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Demais informações de nascimento</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Municipio" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Município</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Bairro" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Bairro</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PaisNasc" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>País de nascimento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Pais" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>País</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AntigoNomePais" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Antigo nome do país</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reportavel" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Identificação do(s) país(es) para o(s) qual(is) o proprietário deve ser reportado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pais">
                <xs:annotation>
                  <xs:documentation>País reportável</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
