schemas/subschemas/abertura/AberturaMovOpFin.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AberturaMovOpFin">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Informações da Abertura referentes a Operações Financeiras</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ResponsavelRMF" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>Informações do Responsável pela RMF</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                   <xs:documentation>CNPJ da entidade responsável pela RMF</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                       <xs:minLength value="1"/>
                       <xs:maxLength value="14"/>
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CPF" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>CPF</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="11"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Nome" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Nome</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Setor" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Setor</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="90"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Telefone" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Telefone do responsável pela RMF</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="DDD" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>DDD do Telefone</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Número do Telefone</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="10"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Ramal" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ramal</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Endereco" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Endereço do responsável pela RMF</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="Logradouro" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Logradouro</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Número</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Complemento" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Complemento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Bairro" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Bairro</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="CEP" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Código de Endereçamento Postal do endereço</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="8"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Municipio" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Município</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UF" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Unidade da Federação</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RespeFin" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>Informações do(s) Responsável(is) pela e-Financeira</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="CPF" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>CPF</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="11"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Nome" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Nome</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Setor" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Setor</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="90"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Telefone" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Telefone do Responsável pela eFinanceira</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="DDD" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>DDD do Telefone</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Número do Telefone</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="10"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Ramal" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ramal</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Endereco" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Endereço do Responsável pela eFinanceira</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="Logradouro" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Logradouro</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Número</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Complemento" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Complemento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Bairro" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Bairro</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="CEP" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Código de Endereçamento Postal do endereço</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="8"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Municipio" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Município</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UF" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Unidade da Federação</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Email" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>E-mail do Responsável pela e-Financeira</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="60"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RepresLegal" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>Informações do Representante Legal</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="CPF" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>CPF</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="11"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Setor" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Setor</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="90"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Telefone" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Telefone do Representante Legal</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="DDD" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>DDD do Telefone</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Número do Telefone</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="10"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Ramal" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ramal</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>